<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <header class="header">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add</a></li>
        </ul>
        <h2>Basketball Blog</h2>
    </header>
    <main>
        <div class="card">
            <h2>{{ post.title }}</h2>
            <a href="/edit/{{post.id}}">Edit</a>
            <a href="/delete/{{post.id}}">Delete</a>
            <h5>{{ post.created_at }} </h5>
            <p> {{ post.content }} </p>
          </div>
    </main>
    <footer>
        <h2>This website was built using <b>Django</b> | Copyright © Francois Mukaba</h2>
    <footer>
</body>
</html>
  